
<div class="home-content">
    <div class="home_content_info">

        <div class="home_content_info_icon">
            <i class="fa-solid fa-folder"></i>
        </div>

        <div class="mid_title">
            Отчет
        </div>

    </div>
</div>

<section class="tab_info_report_content margin_container_bottom_small">

    <div class="description margin_container_bottom_small" id="reportType">Отчет по показателям за период</div>

    <div class="filters_main_container">
        <div class="download_report_main_wrapper">
            <input type="text" id="datepickerReportOnlyMonthPeriod" typeReport="period" placeholder="Выберите период" class="input_datepicker">
            <i class="fa-regular fa-calendar dwreport_icon" id="dwreport_icon"></i>
        </div>
    </div>

</section>

<section class="main_container_content" id="main_container_content">
</section>